<div class="blogs">
    <h2 class="blogs-title">{{title}}</h2>
    <img src="BLOG_HERO_IMAGE.jpg" class="blog-hero">
    <h3>How to cope and overcome Mental Health Problems</h3>
    <div class="date-loc">
        <p>Current Date: {{ currentDate | date: 'MMMM d, y' }}</p>
        <p>Location: {{ location }}</p>
    </div>
    <div class="blog-paragraph">
        <p>
            As mentioned by <span>{{ authors }}</span> ({{ publicationDate_blog }}), stress can come from both external and internal factors. External stressors, such as workload or financial difficulties, may often be managed through proactive solutions like time management or financial planning. On the other hand, internal stressors related to mindset and attitude require personal coping strategies to ensure mental well-being.
        </p>

        <p>
            According to <span>{{ authors }}</span> ({{ publicationDate_blog }}), exercise is an effective way to combat stress, improving mood and energy levels. Proper sleep habits also play a crucial role in reducing stress, as sleep deprivation can negatively affect focus and increase anxiety. Additionally, financial concerns are a leading cause of stress, making money management an important skill for students.
        </p>

        <p>
            As stated by <span>{{ authors }}</span> ({{ publicationDate_blog }}), adjusting one’s attitude can significantly influence stress levels. A positive mindset helps students handle academic and personal challenges with resilience. Engaging in enjoyable activities, practicing mindfulness, or listening to music can contribute to overall well-being. Furthermore, relaxation techniques such as deep breathing, meditation, yoga, and progressive muscle relaxation have been proven to alleviate stress and enhance mental clarity.
        </p>

        <p>
            As highlighted by <span>{{ authors }}</span> ({{ publicationDate_blog }}), students should explore different stress management techniques that work best for them. When stress becomes overwhelming, seeking guidance and support is essential. Acknowledging the need for help is a step towards maintaining a healthy balance in life.
        </p>
    </div>
    <h3>Importance of Positive Mental Health</h3>
    <div class="blog-paragraph">
        <p>
            According to the {{publisher}} ({{publication_date}}), maintaining mental fitness is just as crucial as physical fitness for overall well-being. Good mental health allows individuals to embrace life, adapt to new experiences, and handle risks more effectively. It helps people face personal and professional challenges, such as the loss of a loved one, relationship issues, or job setbacks, while still finding the capacity to enjoy life afterward. When mentally healthy, individuals can learn, create, and connect more meaningfully with those around them ({{publisher}}, {{publication_date}}).
        </p>
    </div>
    <h3>Benefits of Having a Good Mental Health</h3>
    <div class="benefits-cont">
        <div class="benefits">
            <div class="column-benefits" >
                <img src="stress_management.jpg" alt="" class="benefits-img">
            </div>
            <div class="column-benefits benefits-content" >
                <h2></h2>
                <div class="benefits-paragraph">
                    <h4>{{benefits1}}</h4>
                </div>
            </div> 
        </div>
    </div>
    <div class="benefits-cont">
        <div class="benefits">
            <div class="column-benefits" >
                <img src="healthy_relationship.jpg" alt="" class="benefits-img">
            </div>
            <div class="column-benefits benefits-content" >
                <h2></h2>
                <div class="benefits-paragraph">
                    <h4>{{benefits2}}</h4>
                </div>
            </div> 
        </div>
    </div>
    <div class="benefits-cont">
        <div class="benefits">
            <div class="column-benefits" >
                <img src="self-esteem.jpg" alt="" class="benefits-img">
            </div>
            <div class="column-benefits benefits-content" >
                <h2></h2>
                <div class="benefits-paragraph">
                    <h4>{{benefits3}}</h4>
                </div>
            </div> 
        </div>
    </div>
    <div class="benefits-cont">
        <div class="benefits">
            <div class="column-benefits" >
                <img src="student_resilience.png" alt="" class="benefits-img">
            </div>
            <div class="column-benefits benefits-content" >
                <h2></h2>
                <div class="benefits-paragraph">
                    <h4>{{benefits4}}</h4>
                </div>
            </div> 
        </div>
    </div>
    <div class="benefits-cont">
        <div class="benefits">
            <div class="column-benefits" >
                <img src="productive.jpg" alt="" class="benefits-img">
            </div>
            <div class="column-benefits benefits-content" >
                <h2></h2>
                <div class="benefits-paragraph">
                    <h4>{{benefits5}}</h4>
                </div>
            </div> 
        </div>
    </div>
    <div class="benefits-cont">
        <div class="benefits">
            <div class="column-benefits" >
                <img src="quality.png" alt="" class="benefits-img">
            </div>
            <div class="column-benefits benefits-content" >
                <h2></h2>
                <div class="benefits-paragraph">
                    <h4>{{benefits6}}</h4>
                </div>
            </div> 
        </div>
    </div>
    <h3 style="margin-bottom: 1em; margin-top: 2em;">Conclusion</h3>
    <div class="blog-paragraph">
        <p>
            Maintaining good mental health is essential for overall well-being, as it allows individuals to navigate life’s challenges with resilience and adaptability. Stress, which can stem from both external and internal factors, can be effectively managed through strategies like exercise, proper sleep, financial planning, and a positive mindset ({{authors}}, {{publicationDate_blog}}). Additionally, relaxation techniques such as meditation and deep breathing contribute to mental clarity and stress reduction.
        </p>

        <p style="padding-bottom: 2em;">
            {{publisher}} ({{publication_date}}) emphasizes that mental fitness is just as important as physical fitness, enabling individuals to embrace new experiences and maintain meaningful relationships. By prioritizing mental health, individuals can experience better stress management, healthier relationships, increased self-esteem, improved productivity, and an overall higher quality of life. Recognizing the need for support and adopting effective coping strategies are key steps toward maintaining balance and well-being.
        </p>       
    </div>
    <img src="blog_quote.PNG" class="blog-quote">
</div>